<h1>Show this motherfucking user's shit</h1>
<%= button_to "Logout", logout_path, method: :delete, :class => :destroy %><br>
<div class = 'edit-this'>
<%= button_to "Edit Profile", edit_user_path, method: :get, id: "edit_yo_shit" %><br>
</div>
<%= button_to "Home Page", root_path, method: :get %><br>

<%= button_to "All Beers", beers_path, method: :get, id: "all_beers_bitch" %><br><br>

<%= button_to "Delete Account", delete_fucking_user_path, method: :delete %><br>
