<h1>Show the fucking bomb ass facts about this particular beer, dickfuck</h1>


Name: <%= @beer.name %><br>
Style: <%= @beer.style %><br>
Amount of fuck-you-up power: <%= @beer.alcohol_content %>%
<br><br>
<%= button_to "Edit the fuck out of this shit", edit_beer_path, method: :get %><br>
<%= button_to "Delete the fuck out of this fucking piece of god damn shit", delete_fucker_path, method: :delete %>
